---
import { getCollection } from "astro:content";
import BlogPost from "../../layouts/blog-post-layout.astro";

export const prerender = true

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map(article => ({
    params: { slug: article.slug }, props: { article },
  }));
}

const { article } = Astro.props
const { Content } = await article.render()

---
<BlogPost article={article}>
  <section class="content">
    <Content />
  </section>
</BlogPost>

<style is:inline>
  .content {
    margin: 0 auto;
    max-width: 1024px;

    & > h2 {
      margin-block: var(--size-5);
    }

    & > h3 {
      margin-block: var(--size-4);
      font-weight: var(--medium-font-weight);
    }

    & > ul {
      font-size: var(--font-size-fluid-2);
      padding-inline: var(--size-8);

      & > li {
        margin-block: var(--size-2);
      }
    }

    & hr {
      margin-block: var(--size-4);
    }

    & strong {
      font-weight: var(--bold-font-weight);
    }

    & img {
      border-radius: var(--border-radius-lg);
    }
  }
</style>
