@import './reset.css';
@import './fonts.css';
@import './theme.css';

html,
body {
  font-family: var(--body-font-family);
  font-size: var(--font-size-4);
  font-weight: var(--regular-font-weight);
  color: var(--text-color);
  background-color: var(--color-background);
}

* {
  outline-color: var(--accent-color-100);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: var(--bold-font-weight);
  text-wrap: balance;
  line-height: 1;
}

h1 {
  font-size: var(--font-size-fluid-4);
}
h2 {
  font-size: var(--font-size-fluid-3);
}
h3 {
  font-size: var(--font-size-8);
}
h4 {
  font-size: var(--font-size-6);
}
h5 {
  font-size: var(--font-size-5);
}

p,
span {
  font-size: var(--font-size-fluid-2);
  max-width: 80ch;
}

p {
  margin-block: var(--size-4);
}

a,
a:visited {
  color: var(--accent-color-100);
}

pre {
  border-radius: var(--border-radius-lg);
  padding: var(--size-4);
  margin-block: var(--size-4);
  overflow: auto;
}

code * {
  font-size: var(--font-size-4);
}

.main-content {
  max-width: var(--max-width-content);
  padding-inline: var(--size-4);
  margin: var(--size-8) auto;
}

@media (min-width: 768px) {
  .main-content {
    padding-inline: var(--size-8);
  }
}

@media (min-width: 1024px) {
  .main-content {
    margin-block: var(--size-12);
  }

  p {
    margin-block: var(--size-6);
  }
}
