---
import RepositoryCard from '../../core/repository-card/repository-card.astro'

const repositories = [
  {
    name: 'eventos.wiki',
    description: 'Sitio web de c칩digo abierto con el listado de eventos tecnol칩gicos en Espa침a.',
    url: 'https://github.com/achamorro-dev/eventoswiki',
    language: 'Astro',
  },
  {
    name: 'albertochamorro.dev',
    description: 'Repositorio de mi p치gina personal desarrollada con Astro.',
    url: 'https://github.com/achamorro-dev/albertochamorro.dev',
    language: 'Astro',
  },
  {
    name: 'dotfiles-alberto-chamorro',
    description: 'Aplicaciones y configuraciones que utilizo para mi entorno de desarrollo en macOS.',
    url: 'https://github.com/achamorro-dev/dotfiles-alberto-chamorro',
    language: 'Shell',
  },
  {
    name: 'astro-pokedex',
    description: 'Ejemplo de Pokedex utilizando el framework Astro utilizando componentes de diferentes frameworks.',
    url: 'https://github.com/achamorro-dev/astro-pokedex',
    language: 'Astro',
  },
]
---

<article id="repositories">
  <div class="main-content">
    <h2>Repositorios en GitHub</h2>
    <section>
      <ul>
        {
          repositories.map(repository => (
            <li>
              <RepositoryCard {...repository} />
            </li>
          ))
        }
      </ul>
    </section>
  </div>

  <style>
    article {
      border-top: 1px solid var(--gray-color-75);
      background-color: var(--blue-color-100);

      & ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: var(--size-4);
      }

      & h2 {
        margin-block: var(--size-4);
        color: var(--on-blue-color-100);
      }
    }

    @media (min-width: 768px) {
      article {
        & ul {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
        }
      }
    }
  </style>
</article>
