<h2><a href="/" aria-label="alberto, ir a inicio">{'<alberto />'}</a></h2>

<style>
  h2 {
    font-size: 1.25rem;
    font-weight: var(--bold-font-weight);
    margin: 0;
  }

  a,
  a:visited {
    text-decoration: none;
    color: var(--text-color);
  }
</style>
