---
import AngularIcon from '../../core/icons/angular.astro'
import AstroIcon from '../../core/icons/astro.astro'
import AtlassianIcon from '../../core/icons/atlassian.astro'
import CypressIcon from '../../core/icons/cypress.astro'
import FigmaIcon from '../../core/icons/figma.astro'
import FlutterIcon from '../../core/icons/flutter.astro'
import GitIcon from '../../core/icons/git.astro'
import JestIcon from '../../core/icons/jest.astro'
import JavaScriptIcon from '../../core/icons/js.astro'
import NeovimIcon from '../../core/icons/neovim.astro'
import NextIcon from '../../core/icons/nextjs.astro'
import NotionIcon from '../../core/icons/notion.astro'
import NuxtIcon from '../../core/icons/nuxt.astro'
import ReactIcon from '../../core/icons/react.astro'
import StorybookIcon from '../../core/icons/storybook.astro'
import TailwindIcon from '../../core/icons/tailwindcss.astro'
import TerminalIcon from '../../core/icons/terminal.astro'
import TestingLibraryIcon from '../../core/icons/testing-library.astro'
import TypeScriptIcon from '../../core/icons/typescript.astro'
import VSCodeIcon from '../../core/icons/vscode.astro'
import VueIcon from '../../core/icons/vue.astro'
---
<article>
  <section class="summary">
    <div class="summary-card technologies">
      <h2>Tecnologías</h2>
      <ul class="list">
        <li><a href="https://developer.mozilla.org/es/docs/Web/JavaScript" aria-label="JavaScript" target="_blank" rel="noopener noreferrer"><JavaScriptIcon /></a></li>
        <li><a href="https://typescriptlang.org/" aria-label="TypeScript" target="_blank" rel="noopener noreferrer"><TypeScriptIcon /></a></li>
        <li><a href="https://react.dev/" aria-label="React.js" target="_blank" rel="noopener noreferrer"><ReactIcon /></a></li>
        <li><a href="https://angular.dev/" aria-label="Angular" target="_blank" rel="noopener noreferrer"><AngularIcon /></a></li>
        <li><a href="https://vuejs.org/" aria-label="Vue.js" target="_blank" rel="noopener noreferrer"><VueIcon /></a></li>
        <li><a href="https://astro.build" aria-label="Astro" target="_blank" rel="noopener noreferrer"><AstroIcon /></a></li>
        <li><a href="https://nextjs.org/" aria-label="Next.js" target="_blank" rel="noopener noreferrer"><NextIcon /></a></li>
        <li><a href="https://nuxt.com/" aria-label="Nuxt" target="_blank" rel="noopener noreferrer"><NuxtIcon /></a></li>
        <li><a href="https://jestjs.io/es-ES/" aria-label="Jest" target="_blank" rel="noopener noreferrer"><JestIcon /></a></li>
        <li><a href="https://testing-library.com/" aria-label="Testing Library" target="_blank" rel="noopener noreferrer"><TestingLibraryIcon /></a></li>
        <li><a href="https://www.cypress.io/" aria-label="Cypress" target="_blank" rel="noopener noreferrer"><CypressIcon /></a></li>
        <li><a href="https://tailwindcss.com/" aria-label="Tailwind CSS" target="_blank" rel="noopener noreferrer"><TailwindIcon /></a></li>
        <li><a href="https://flutter.dev/" aria-label="Flutter" target="_blank" rel="noopener noreferrer"><FlutterIcon /></a></li>
      </ul>
    </div>

    <div class="summary-card tools">
      <h2>Herramientas</h2>
      <ul class="list">
        <li><a href="https://code.visualstudio.com/" aria-label="Visual Studio Code" target="_blank" rel="noopener noreferrer"><VSCodeIcon /></a></li>
        <li><a href="https://neovim.io/" aria-label="Neovim" target="_blank" rel="noopener noreferrer"><NeovimIcon /></a></li>
        <li class="figma"><a href="https://figma.com/" aria-label="Figma" target="_blank" rel="noopener noreferrer"><FigmaIcon /></a></li>
        <li><a href="https://atlassian.com/" aria-label="Atlassian" target="_blank" rel="noopener noreferrer"><AtlassianIcon /></a></li>
        <li><a href="https://www.notion.so/" aria-label="Notion" target="_blank" rel="noopener noreferrer"><NotionIcon /></a></li>
        <li><a href="https://storybook.js.org/" aria-label="Storybook" target="_blank" rel="noopener noreferrer"><StorybookIcon /></a></li>
        <li><a href="https://git-scm.com/" aria-label="Git" target="_blank" rel="noopener noreferrer"><GitIcon /></a></li>
        <li><a href="https://warp.dev/" aria-label="Terminal" target="_blank" rel="noopener noreferrer"><TerminalIcon /></a></li>
      </ul>
    </div>
    
    <div class="summary-card soft-skills">
      <h2>Soft Skills</h2>
      <ul>
        <li>Comunicación</li>
        <li>Trabajo en equipo</li>
        <li>Adaptabilidad</li>
        <li>Aprendizaje continuo</li>
        <li>Resolución de problemas</li>
      </ul>
    </div>
  </section>
</article>

<style>
  article {
    background: var(--gray-color-100);
    padding-block: var(--size-12);
    padding-inline: var(--size-4);
    border-block: 1px solid var(--gray-color-75);
  }
  .summary {
    display: grid;
    grid-template-areas: 'soft' 'technologies' 'tools';
    grid-gap: var(--size-4);
    margin-block: var(--size-4);
    max-width: 1024px;
    margin: 0 auto;

    @media (min-width: 768px) {
      & {
        grid-template-areas: 'technologies technologies soft' 'tools tools tools';
      }
    }

    & .summary-card {
      background: var(--background-color);
      color: var(--on-background-color);
      padding: var(--size-8);
      border-radius: var(--border-radius-xl);
      border: 1px solid var(--gray-color-75);

      & h2 {
        margin-bottom: var(--size-4);
      }
    }

    & ul {
      list-style: none;
    }

    & .technologies {
      grid-area: technologies;

      & ul {
        display: flex;
        gap: var(--size-2);
        align-items: center;
        justify-content: start;
        flex-wrap: wrap;

        & li {
          width: 40px;
        }

        @media (min-width: 768px) {
          & {
            gap: var(--size-8);
          }

          & li {
            width: 72px;
          }
        }
      }
    }

    & .tools {
      grid-area: tools;

      & ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: var(--size-2);
        align-items: center;

        & li {
          width: 32px;
        }

        & .figma {
          width: 22px;
        }

        @media (min-width: 768px) {
          & {
            gap: var(--size-8);
          }

          & li {
            width: 64px;
          }

          & .figma {
            width: 42px;
          }

        }
      }

    }

    & .soft-skills {
      grid-area: soft;

      & ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: var(--size-2);
        font-size: var(--font-size-6);
        font-weight: var(--light-font-weight);
      }

      @media (min-width: 768px) {
        & ul {
          font-size: var(--font-size-8);
        }
      }
    }
  }
</style>
