---
import { Image } from 'astro:assets';
import MeImage from '../../../assets/other-me.jpeg';
---
<article class="introduction">
  <h1>Sobre mí</h1>
  <Image src={MeImage} alt="Foto mía sonriendo en Valencia delante de la Ciudad de las Artes y las Ciencias" class="me-image" format="avif" loading={'eager'} densities={[1, 2]} />
  <p>¡Hola! Soy Alberto Chamorro y actualmente trabajo como Frontend Developer en <a href="https://autentia.com/" target="_blank" rel="nofollow noreferrer" aria-label="autentia">@autentia</a> principalmente con tecnologías JavaScript como Angular y React pero siempre con TypeScript. También a nivel personal investigo sobre Astro y utilizo Flutter para desarrollar aplicaciones multiplataforma para iOS y Android.</p>
  <p>Me considero alguien abierto y siempre dispuesto a ayudar a quien lo necesite, sin ningún problema para trabajar en equipo. Con muchas ganas de aprender y de avanzar en mi carrera profesional como desarrollador probando nuevos avances o adoptando nuevas tecnologías siempre con sentido.</p>
  <p>En mi blog escribo artículos para poder compartir lo que aprendo en mi día a día y que espero pueda servir a más gente.</p>
</article>

<style>
  .introduction {
    max-width: 1024px;
    margin: 0 auto;
    padding-inline: var(--size-4);

    & h1 {
      margin-bottom: var(--size-8);
    }

    & img {
      border-radius: var(--border-radius-xl);
    }
  }
</style>

