---
import BaseHead from '../components/core/base-head/base-head.astro'
import Footer from '../components/core/footer/footer.astro'
import Header from '../components/core/header/header.astro'
import SkipToContent from '../components/core/skip-to-content/skip-to-content.astro'
import { MAIN_CONTENT_ID, SITE_DESCRIPTION, SITE_TITLE } from '../metadata'

interface Props {
  title?: string
  description?: string
  contentId?: string
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION, contentId = MAIN_CONTENT_ID } = Astro.props as Props
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <SkipToContent contentId={contentId} />
    <Header />
    <main id={MAIN_CONTENT_ID}>
      <slot />
    </main>
    <Footer />
    <style>
      body {
        display: grid;
        grid-template-rows: auto 1fr auto;
      }
      main {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
      }
    </style>
  </body>
</html>
